/* frontend/src/components/Navigation/Navigation.css */

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
}

.nav-left {
    flex: 1;
}

.nav-link {
    text-decoration: none;
    color: #1B1B1B;
    font-size: 18px;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
    /* Adds space between buttons */
}

.nav-right button {
    background: #1B1B1B;
    color: #fff;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.nav-right button:hover {
    background: #5c2a9d;
}

.create-stay-button {
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    background-color: #332d2b;
    color: white;
    text-decoration: none;
    border-radius: 0.25rem;
    font-weight: bold;
}

.-hut-button:hover {
    background-color: #8b4;
}
